

<!-- Loading spinner -->
<div *ngIf="loading" class="loading-container flex-content-center">
  <app-spinner> </app-spinner>
</div>

<!-- the application -->
<app-header> </app-header>
<router-outlet></router-outlet>
<br>
<br>
<app-footer></app-footer>
