<div class="water-bottle">
  <div *ngIf="!fillValue" class="water-bottle__bottle">
    <img src= "./assets/images/challenge/water-big-empty.png" height="120">
  </div>
  <div *ngIf="fillValue" class="water-bottle__bottle">
    <img src= "./assets/images/challenge/water-big.png" height="120">
  </div>
  <div class="water-bottle__number">
    {{fillValue}}
  </div>
  <div class="water-bottle__state">
    {{stateValue}}
  </div>
</div>
