<main class="not-found-container">
    <div class="not-found-container__error">4<span><fa-icon [icon]="faGhost"></fa-icon></span>4</div>
    <div class="not-found-container__error-message"  i18n="Not found error | Not found error message" id="not-found-message">Error: 404 page not found</div>
    <div class="not-found-container__error-description" i18n="Not found description | Not found error description">Sorry, the page you're looking for cannot be accessed</div>
</main>