@import "./../base/base";

/* ------------------------------------*\
   FOOTER STYLE
\*------------------------------------ */
.footer {
  height: 60px;
  line-height: 60px;
  background-color: $footer-bg;
  text-align: right;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  
  &__text {
    margin-right: 2rem;
    color: $brand-color;
    font-weight: 600;
  }
}
