<div class="container">
  <div class="row align-center">
    <div class="col">
      <app-lake></app-lake>
    </div>
  </div>
  <div class="row align-center">
    <div class="col">
      <app-title titleValue="Capacity of Bottle X"></app-title>
      <app-water-bottle id="bottle-x"></app-water-bottle>
      <app-input-text inputType="number" [(inputValue)]="bottleX"
        inputLeftHint="Write the number of liters greater than 0" id="input-text-bottle-x"></app-input-text>
    </div>
    <div class="col">
      <app-title titleValue="Capacity of Bottle Y"></app-title>
      <app-water-bottle id="bottle-y"></app-water-bottle>
      <app-input-text inputType="number" [(inputValue)]="bottleY"
        inputLeftHint="Write the number of liters greater than 0" id="input-text-bottle-y"></app-input-text>
    </div>
  </div>
  <div class="row align-center">
    <div class="col">
      <app-title titleValue="Measure of Bottle Z"></app-title>
      <app-water-bottle id="bottle-z"></app-water-bottle>
    </div>
  </div>
  <div class="row align-center">
    <div class="col">
      <app-input-text inputType="number" [(inputValue)]="bottleZ" id="input-text-bottle-z"></app-input-text>
    </div>
  </div>
  <div class="row align-center">
    <div class="col">
      <button mat-button (click)="onPressCalculate(bottleX, bottleY, bottleZ)" id="button-calculate-c">Calculate</button>
    </div>
  </div>
  <br />
  <br />
  <div class="row align-center" *ngIf="error">
    <div class="col">
      {{error}}
    </div>
  </div>
  <div *ngFor="let combination of combinations;">
    <div class="row align-center" *ngIf="combinations.length">
      <div class="col-4"></div>
      <div class="col-2">
        <app-water-bottle [fillValue]="combination.bottleX" [stateValue]="combination.bottleXState"></app-water-bottle>
        {{combination.action}}
      </div>
      <div class="col-2">
        <app-water-bottle [fillValue]="combination.bottleY" [stateValue]="combination.bottleYState"></app-water-bottle>
      </div>
      <div class="col-4"></div>
    </div>
  </div>
</div>
<br />
