@import "./../base/base";
 
html, body {
    height: 100%;
    margin: 0;
}

/* ------------------------------------*\
   Styling the main page layout
\*------------------------------------ */
.logo-main-container {
    background-color: $main-bg;
    padding-bottom: 60px;
    min-height: calc(100vh - 60px);

    &__content {
        margin: 40px 71px;
        padding: 70px;
        background-color: $white-color;
        border-radius: 30px;
        min-height: calc(100vh - 220px);
    }
}