@import "./../../../base/base";

mat-label {
    /*change color of label*/
    color: $brand-color-secondary !important;
}

.mat-form-field-ripple {
    /*change color of underline when focused*/
    background-color: $brand-color-secondary !important;
}

.input-text-field {
  min-width: 270px;
  &__value {
    text-align: center !important;
    font-size: 25px !important;
  }
}
