/// Convert one unit into another
/// @param {Number} $value - Initial value
/// @param {String} $unit - Desired unit
/// @return {Number}
/// @throw Error if `$unit` does not exist or if units are incompatible.
@function convert-unit($value, $unit) {
    $units: (
      'px': 0px,
      'cm': 0cm,
      'mm': 0mm,
      '%': 0%,
      'ch': 0ch,
      'in': 0in,
      'em': 0em,
      'rem': 0rem,
      'pt': 0pt,
      'pc': 0pc,
      'ex': 0ex,
      'vw': 0vw,
      'vh': 0vh,
      'vmin': 0vmin,
      'vmax': 0vmax,
      'deg': 0deg,
      'turn': 0turn,
      'rad': 0rad,
      'grad': 0grad,
      's': 0s,
      'ms': 0ms,
      'Hz': 0Hz,
      'kHz': 0kHz,
      'dppx': 0dppx,
      'dpcm': 0dpcm,
      'dpi': 0dpi,
    );
  
    @if map-has-key($units, $unit) {
      @return map-get($units, $unit) + $value;
    }
  
    @error "Unknown unit `#{$unit}`.";
}

@function half-numbers($num) {
    @return $num / 2;
}

@function half-negative-numbers($num) {
    @return n(h($num));
}

@function get-icon( $icon, $color: #fff ) {
    $icon:        map-get( $icons, $icon );
    $placeholder: '%%COLOR%%';
    $data-uri: str-replace( url( $data-svg-prefix + $icon ), $placeholder, $color );
    @return str-replace( $data-uri, '#', '%23' );
}